<html>
    <body ng-app="app" id="b">
<div >
        <h1>Registration Form</h1>
        
            Name:<input type="text" name="name" ng-model="name" class="in" placeholder="Enter Name" required><br><br>
            Email:<input type="email" name="email" ng-model="email" class="in" placeholder="Enter Email" required><br><br>
            Password:<input type="password" name="pass" ng-model="pass" class="in" placeholder="Enter Password" required><br><br>
            <button ng-click="Rdata()" id="btn">Register</button>
        
        <br>
        <div>already have account ? <a href="#!signin">signin</a></div>
</div>
</body>
</html>