<html>
<div >
        <h1> SignIn </h1>
        <form>
            <label for="Email">Email: </label>
            <input type="email" placeholder="Enter Email" ng-model="e" class="in" required><br><br>
            <label for="password">Password: </label>
            <input type="password" ng-model="p"  class="in" placeholder="Enter Password" required><br><br>
            <button ng-click="Sdata()">SignIn</button>
        </form>
        <p>Don't have account?<a href="#!register">Register</a></p>
    </div>
</div>
</html>