
<div class="project">
  <h1 style="text-align: center;">Welcome to News App</h1>
  

    <div ng-repeat="ele in arr | orderBy:author:value" class="projectstyle">
        <p>{{ele.author}}</p>
        <img ng-src="{{ele.urlToImage}}" class="image">
        <p>{{ele.description}}</p>
    </div>
  </div>


    <div class="search-container">
      <input type="text" ng-model="name" class="form-control">
      <button ng-click="search()">Search</button>
    </div>
    
  
    
    <div class="logout-container">
      <button ng-click="validLogout()" class="btn btn-danger">Log out</button><br><br>
  </div>
  
 <button ng-click="sort(true)" id="b">Sort</button> <button ng-click="sort(false)" id="b">Sort</button>



 